/* * Sanity Studio embed * */

/* Hide the Sanity Studio "Create new document" button beside the nav logo by default */
.new-document-button div > div > button[data-testid="new-document-button"] {
  display: none !important;
}

/* Cosmetic: Remove border-right of tools menu */
.tools-menu div[data-ui="Navbar"] > div > div:first-child > div:last-child {
  border-right: 0 !important;
}

/* Hide every thing in the right navbar */
.right-nav div[data-ui="Navbar"] > div > div:last-child {
  display: none !important;
}

/* Nav Styling */
.studio-nav div[data-testid="studio-navbar"] {
  background-color: #0c1f3c;
}

/* WebriQ Logo hide background of white */
.studio-nav-bg
  [data-ui="Navbar"]
  > div:first-child
  > div
  > div
  > div
  > a
  > div
  > div {
  background-color: transparent;
}

/* Nav Plugins with Search Icon */
.studio-nav-text [data-ui="Navbar"] span {
  font-size: 1rem;
}

/* Staging WebriQ Studio Text */
.webriq-studio-text
  div[data-ui="Navbar"]
  > div
  > div
  > div
  > div
  > a
  > div
  > div
  > div
  > span {
  display: none;
}

/* Pane Header */
.pane-header div[data-testid="pane-header"] > div > div:first-child span {
  font-size: 1rem;
}

/* Header Plugins */
.header-plugins div[data-testid="pane-header"] div[data-ui="Text"] span {
  font-size: 13px;
}

/* Search icon */
.search-icon-bg div[data-ui="Navbar"] > div > div:first-child > span > button {
  box-shadow: unset;
  background-color: transparent;
}

.search-icon
  div[data-ui="Navbar"]
  > div
  > div:first-child
  > span
  > button
  > span
  > span
  > div
  > span
  > svg {
  color: white;
  width: 1.5em;
  height: 1.5em;
}

/* Structure - Pages - Store - Guide */
.list-pane div[data-testid="compact-preview"] {
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.75rem;
}

/* Content SVG's */
.svg-content div[data-testid="pane-content"] svg {
  font-weight: 300;
  font-size: 1.5rem;
}

/* Contents of the header */
.pane-content [data-testid="pane-content"] ul li div[data-ui="Text"] span {
  font-weight: 300;
  font-size: 1rem;
}

/* FIELDS */
.fields div[data-ui="Stack"] label {
  font-weight: 500;
  font-size: 0.875rem;
}

/* DOCUMENT PANEL CONTENT */
.document-panel div[data-ui="Stack"] div:first-child {
  font-weight: 500;
  font-size: 0.875rem;
}

/* Published timer */
.pane-footer
  div[data-testid="pane-footer"]
  > div
  > div
  > div
  > div
  > div
  > div:first-child {
  display: none;
}

/* Live Url */
.pane-footer-url
  div[data-testid="pane-footer"]
  > div
  > div
  > div
  > div
  > div
  > div:last-child {
  text-align: left;
  align-items: center;
  width: 100%;
  display: flex;
}

/* Document action button */
.doc-action-button
  div[data-testid="pane-footer"]
  > div
  > div
  > div
  > div:last-child
  span
  button {
  border: 1px solid #d3d3d3;
  width: 40px;
}

/* Pane footer right buttons */
.footer-right-buttons
  div[data-testid="pane-footer"]
  > div
  > div
  > div
  > div:last-child {
  align-items: center;
}

.publish-button
  div[data-testid="pane-footer"]
  > div
  > div
  > div
  > div
  > div:last-child
  > div
  > div
  > button
  > span {
  width: 13.5em;
}

/* Search Icon Styles */
/*HEADER PRODUCT TITLE*/
.search-results
  div[data-testid="search-results"]
  > ul
  > li
  > div
  > a
  > div
  > div
  > div
  > div
  > div[data-testid="default-preview__header"]
  > div:first-child
  > span {
  font-size: 1rem;
  font-weight: 400;
}

/* HEADER SVG */
.search-result-svg
  div[data-testid="search-results"]
  > ul
  > li
  > div
  > a
  > div
  > div
  > div
  > div
  > div:first-child
  > span
  > svg {
  font-size: 1.3rem;
}

/* MEDIA TOOL STLYES */
/* FILE METADATA */
.media-file-metadata
  div[data-test-id="virtuoso-top-item-list"]
  > div
  > div
  > div[data-ui="Label"]
  > span
  > div
  > span {
  /* background-color: red; */
  font-size: 0.6rem;
}

/* TAGS */
.media-tags div[data-ui="Inline"] > div > div[data-ui="Label"] span {
  font-size: 0.6rem;
}
